@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  /* background: linear-gradient(10deg, #010203, #1a2735); */
  background: linear-gradient(10deg, #010203, #13274f, #0a0b0c);
}

.donwload {
  background: lightgray;
  border: 2px solid #09203f;
}
#Portfolio {
  scroll-behavior: smooth;
}
